<div class="pict_box_01">
	<span>Thank You</span><br/>
	We appreciate your feedback
</div><br class="sp13"/>
<p>
	Your feedback is now visible on our 
	<%= link_to 'testimonials', testimonials_path %> page. Please keep us in mind
	for your future home maintenance projects.
</p>