<div class="pict_box_01">
	<span>Please Confirm</span><br/>
	Check your email to confirm your testimonial
</div>
<br class="sp13"/>
<p>
	We sent an email asking you to confirm your testimonial. Please click the link
	in the email to confirm that you would like to post your confirmation.
</p>
<p>Thank You!</p>