<div id="content">
	<div class="fL" style="width:685px">
		<div style="padding:17px 55px 55px 88px">
			<div class="pict_box_01">
				<span>Contact Us</span><br/>
				Call today for a free estimate
			</div>
			<br class="sp24"/>
			<div>
				<div>
					<div class="c_text_01">
						Call today for a <strong>free</strong> estimate of your project. 
						If we don't answer please leave a message and we'll get back to you 
						as quickly as possible.
					</div><br class="sp13"/>
				</div>
				<div class="cL"></div>
			</div>
			<div class="cL"></div>
		</div>
	</div>
	<%= render 'pages/phone' %>
	<div class="cL"></div>
</div>
<!--EOF CONTENT-->