<div id="content">
	<div class="fL" style="width:685px">
		<div style="padding:17px 40px 55px 88px">
			<div class="pict_box_01">
				<span>Complete Home Maintenance</span><br/>
				Your total home care provider
			</div>
			<br class="sp24"/>
			<div class="c_text_01" style="padding-left:2px">
				Complete Home Maintenance specializes in helping you care for your home. We provide
				services for your home's exterior and interior. From landscaping to roofing and everything
				in between we are your full service home maintenance provider. Check out Our Services
				below for a full list of what we can offer. Take a look at some of our recent projects
				and then call us for a free estimate
			</div>
			<br class="sp53"/>
			<div>
				<div class="c_text_02">Our services</div><br class="sp17 cL"/>
				<div class="fL" style="padding:0 40px 0 2px; width:240px;">
					<div>
						<ul class="list_01">
							<li><span>Lawn Care</span></li>
							<li><span>Property Maintenance</span></li>
							<li><span>Spring &amp Fall Cleanup</span></li>
							<li><span>Tree Trimming</span></li>
							<li><span>Snow Removal</span></li>
							<li><span>Roof Raking</span></li>
							<li><span>Pressure Washing</span></li>
							<li><span>Gutter Cleaning</span></li>
						</ul>
					</div>
				</div>
				<div class="fL" style="width:240px">
					<div class="list_01">
						<ul class="list_01">
							<li><span>General Construction &amp Repairs</span></li>
							<li><span>Driveway Sealing</span></li>
							<li><span>Landscaping</span></li>
							<li><span>Painting</span></li>
							<li><span>Siding</span></li>
							<li><span>Custom Cabinets</span></li>
						</ul>
					</div>
				</div>
				<div class="cL"></div>
			</div>
		</div>
	</div>
	<div class="fL" style="width:315px">
		<div id="latest-projects" style="padding:21px 60px 50px 5px">
			<div class="c_text_02">Call Today:<br />(715) 559-2180</div>
			<br class="sp24"/>
			<div class="c_text_02">Latest projects</div><br class="sp13"/>
			<div><%= image_tag 'projects/white_pine_2.png' %></div><br class="sp16"/>
			<div class="c_text_01">
				Spring 2014 - Completed a full yard cleanup including gutter cleaning and
				landscape trimming for a satisfied customer on the South Side of Eau Claire.
			</div><br class="sp11"/>
			<br class="sp24"/>
			<div><%= image_tag 'projects/white_pine_1.png' %></div><br class="sp16"/>
			<div class="c_text_01">
				Spring 2014 - Completed a full yard cleanup for a very pleased customer on the
				South Side of Eau Claire.
			</div><br class="sp11"/>
		</div>
	</div>
	<div class="cL"></div>
</div>