<div id="content">
	<div class="fL" style="width:685px">
		<div id="latest-projects" style="padding:17px 55px 55px 88px">
			<div class="pict_box_01"><span>Projects</span><br/>Recent projects</div><br class="sp24"/>
			<div>
				<%= image_tag 'projects/white_pine_2.png', :class=>"fL", :style=>"margin:3px 15px 0 2px" %>
				<div>
					<div class="c_text_01">
						Spring 2014 - Completed a full yard cleanup including gutter
						cleaning and landscape trimming for a satisfied customer on
						the South Side of Eau Claire.
					</div>
				</div>
				<div class="cL"></div>
			</div>
			<br class="sp24">
			<div>
				<%= image_tag 'projects/white_pine_1.png', :class=>"fL", :style=>"margin:3px 15px 0 2px" %>
				<div>
					<div class="c_text_01">
						Spring 2014 - Completed a full yard cleanup including pine needle removal,
						full raking, lawn mowing, and blowing out the landscaping rock
						on the South Side of Eau Claire.
					</div>
				</div>
				<div class="cL"></div>
			</div>
		</div>
	</div>
	<%= render 'pages/phone' %>
	<div class="cL"></div>
</div>
<!--EOF CONTENT-->