<div id="content">
	<div class="fL" style="width:685px">
		<div style="padding:17px 55px 55px 88px">
			<div class="pict_box_01">
				<span>Testimonials</span><br/>
				What are people saying about Complete Home Maintenance
			</div><br class="sp24"/>
			<div>
				<img src="images/img_03.gif" alt="" class="fL" style="margin:3px 0 0 2px"/>
				<div style="padding:0 0 0 174px">
					<div class="c_text_01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut orci eu lacus mattis consectur raesent auctor tellus in metus hendrerit at pharetra mi laoreet. Suspendisse quam ligula, conval- lis eget blandit vel, euismod id metus. </div><br class="sp13"/>
					<div class="c_text_01"><a href="#">Suspendisse quam ligula, convallis.</a> Sed in sapien arcu, in stas dolor. Ut varius volutpat mi, a dictum ligula bibendum nec.</div><br class="sp11"/>
					<div class="box_01">
						<div class="box_top_01">
							<div class="box_bottom_01">
								<a href="#" class="rm1">Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="cL"></div>
			</div><br class="sp52"/>
			<div class="fL" style="width:300px">
				<div style="padding:0 60px 0 2px">
					<div class="c_text_02">What we do</div><br class="sp24"/>
					<div class="c_text_03"><strong>Adipiscing elit curabitur ut orci eu lacus mattis consectur raesent auctor tellus in metus hendrerit at pharetra.</strong></div><br class="sp13"/>
					<div class="c_text_01">Mii laoreet. Suspendisse quam ligula, convallis eget blandit vel, euismod id metus. Sed in sapien arcu, in egestas dolor. Ut varius volutpat mi, a dictum ligula bibendum nec nulla eu quam nisl.</div>
				</div>
			</div>
			<div class="fL" style="width:240px">
				<div style="padding:0 0 0 2px">
					<div class="c_text_02">Primary tasks</div><br class="sp17"/>
					<div>
						<ul class="list_01">
							<li><span><a href="#">Lorem ipsum dolor sit amet ectetur</a></span></li>
							<li><span><a href="#">Adipiscing elit curabitur ut orci eu</a></span></li>
							<li><span><a href="#">Lacus mattis consectetur aesent</a></span></li>
							<li><span><a href="#">Auctor tellus in metus hendrerit at</a></span></li>
							<li><span><a href="#">Pharetra mi laoreet suspendisse</a></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cL"></div>
		</div>
	</div>
	<%= render 'pages/phone' %>

	<div class="cL"></div>
</div>
<!--EOF CONTENT-->