<hr color="#E26623">
<div>
	<div class="c_text_02">
		<%= t.first_name %>, <%= t.location %>
	</div>
	<br class="sp13"/>
	<div class="c_text_01">
		<%= t.comment %>
	</div>
	<br class="sp11"/>

	<div class="cL"></div>
</div>