<div id="content">
	<div class="fL" style="width:685px">
		<div style="padding:17px 55px 55px 88px">
			<div class="pict_box_01">
				<span>Thank You</span><br/>
				We appreciate your feedback
			</div><br class="sp13"/>
				<p>
					Your feedback is now visible on our 
					<%= link_to 'testimonials', testimonials_path %> page. Please keep us in mind
					for your future home maintenance projects.
				</p>
			<div class="cL"></div>
		</div>
	</div>
	<%= render 'pages/phone' %>

	<div class="cL"></div>
</div>