<div id="content">
	<div class="fL" style="width:685px">
		<div style="padding:17px 55px 55px 88px">
			<div class="pict_box_01">
				<span>New Testimonial</span><br/>
				Add a testimonial for Complete Home Maintenance
			</div><br class="sp13"/>
				<p>
					Please enter your comment below. When you click the Save button an email will
					be sent to you to confirm your testimonial.
				</p>
				<%= render 'form' %>
			<div class="cL"></div>
		</div>
	</div>
	<%= render 'pages/phone' %>

	<div class="cL"></div>
</div>
