<div id="footer">
	<div class="f_pad">
		<div class="l_foot">
			<div class="f_text f_pad_01">
				<%= link_to 'Home Page', root_path %>
				<span style="padding-right:13px">|</span>
				<a href="index-1.html">About Us</a>
				<span>|</span>
				<a href="index-2.html">Services</a>
				<span>|</span>
				<a href="index-3.html">Contact Us</a>
			</div>
		</div>
		<div class="r_foot">
			<div class="f_text f_pad_02">
				&copy 2014 All rights reserved -
				<%= link_to 'Complete Home Maintenance', root_path %><br />
				(715) 559-2180
			</div>
		</div>
		<div class="cL"></div>
	</div>
</div>